.active{
color: lightskyblue;
font-style: bold;
background-color: lightskyblue;
color: aliceblue;
border-radius: 4px;
}
.navbar-custom{
    justify-content: flex-end;  
}
img{
    height: 50px;
    width: 100px;
}