<!-- Footer -->
<footer class="text-center">
    <!-- Section: Social media -->
   
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 mt-3">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
            E-Learning is the web site used to provide the teaching of the web development classes like HTML, CAA , JS,ANGULAR,REACT,NODE jsE-Learning provides the best online and offline classes.using the realtime projects with good lectures who had more han 10 years 
            experiance in the web development field And also E-Learning Provides the jobs for he students after completing the course based on your performance 
            
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-3">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="https://www.w3schools.com/html/" class="text-reset">HTML</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/css/default.asp" class="text-reset">CSS</a>
            </p>
            <p>
              <a href="https://www.w3schools.com/js/default.asp" class="text-reset">JAVA SCRIPT</a>
            </p>
            <p>
              <a href="https://react.dev/" class="text-reset">Angular</a>
            </p>
            <p>
                <a href="https://react.dev/" class="text-reset">REACT</a>
              </p>
              <p>
                <a href="https://nodejs.org/en" class="text-reset">JODE JS</a>
              </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->

          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 mt-3">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Hyderabad ,India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 9014869682</p>
            <p><i class="fas fa-print me-3"></i> 8145067770</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://angular.dev/">Angular</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->