<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><h4>{{email}}</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">HOME</a>
              </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/user" routerLinkActive="active">USERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/profile" routerLinkActive="active">PROFILE</a>
          </li>
   
        </ul>
        <button class="btn btn-danger ms-auto"(click)="logout()">LOGOUT</button>
      </div>
    </div>
  </nav>