<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-md-8 mt-3 ">
            <div class="card">
                
                <div class="card-header bg-primary text-white text-center">
                    JAVA SCRIPT COURSE
                </div>
                <img class="card-img-top" src="https://www.tutorialrepublic.com/lib/images/javascript-illustration.png" alt="Card image cap">

                <div class="card-body">
                    <h4 class="card-title">java script </h4>
                   <div class="car-text">
                    <P>avaScript is a scripting or programming language that allows you to implement complex features on web pages — every time a web page does more than just sit there and display static information for you to look at — displaying timely content updates, interactive maps, animated 2D/3D graphics
                        JavaScript is a scripting language used to create and control dynamic website content, i.e. anything that moves, refreshes, or otherwise changes on your screen without requiring you to manually reload a web page. Features like: animated graphics. photo slideshows.
                        JavaScript is a programming language used to create dynamic content for websites. It achieves this by adding new HTML elements while modifying existing ones. Many coders enhance web development skills using JavaScript to create user-friendly and interactive websites
                    </P>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>