<div class="container">
    <div class="row mt-3 justify-content-center" >
        <div class="col-md-8 mt-3 ">
            <div class="card">
                
                <div class="card-header bg-primary text-white text-center">
                    REACT COURSE
                </div>
                <img class="card-img-top" src="https://media.licdn.com/dms/image/D4E12AQFAnM7JNyFDQg/article-cover_image-shrink_720_1280/0/1708148800306?e=2147483647&v=beta&t=YVyEgQPbE7DUjDtMEQ5DBs_NUxWX_z6mWn72IqCH03Q" alt="Card image cap">

                <div class="card-body">
                    <h4 class="card-title">React </h4>
                   <div class="car-text">
                    <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications
                        This means that Angular is primarily used for frontend development, as it runs in the user's browser and is responsible for handling the presentation layer of a web application
                        Use Angular when you need to design web apps for all kinds of environments, especially: Dynamic web apps: Where the content and some components are displayed according to the user who is accessing and the client (web or mobile) that is consuming
                    </p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>